{
  "parser": "babel-eslint", // I want to use babel-eslint for parsing!
  "rules": {
    "indent": [2, 2, {
      "SwitchCase": 1
    }],
    "jsx-quotes": 1,
    "linebreak-style": [2, "unix"],
    "quotes": [2, "single"],
    "no-console": 0
  },
  "env": {
    "es6": true,
    "browser": true,
    "mocha": true,
    "amd": true
  },
  "extends": "eslint:recommended",
  "plugins": [
    "react"
  ]
}