<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet">
    <title>Mikhail Shabrikov - Frontend Developer</title>
</head>
<body>
<div class="main">
    <div class="about">
        <p>
            Hello, my name is Mikhail and I am a frontend developer.
        </p>

        <p>
            I like to create
            <b class="link js-tag-link" style="background-color: #aec7e8;" data-tag="d3dataviz">data visualizations with D3.js</b>,

            <b class="link js-tag-link" style="background-color: #c5b0d5;" data-tag="draftTextEditing">and reach text editors with Draft.js</b>.
        </p>

        <p>
            I am a fan of
            <b class="link js-tag-link" style="background-color: #98df8a;" data-tag="reactRedux">React/Redux stack</b>
            and
            <b class="link js-tag-link" style="background-color: #ff9896;" data-tag="utility">elegant utility libraries</b>,
            but I also interesting in
            <b class="link js-tag-link" style="background-color: #ffbb78;" data-tag="basicConcept">pure JavaScript</b>
            and
            <b class="link js-tag-link" style="background-color: #c49c94;" data-tag="other">other web technologies</b>.
        </p>

        <p>
            I am willing to help and answer questions on
            <b class="link js-social" data-link="so" style="background-color: #dbdb8d;">Stack Overflow</b>.
            I am sharing my knowledge
            <b class="link js-social" data-link="medium" style="background-color: #9edae5;">by writing articles</b>.
        </p>

        <p>
            You can see my Stack Overflow scores by tags bubble cloud visualization to the right and it made with D3.js.
        </p>

        <p>
            Do you want a Stack Overflow profile and want to see the visualization for your scores? Check
            <a target="_blank" href="http://ya.ru"><b>this page</b></a>.
        </p>
    </div>

    <ul class="socials">
        <li>
            <a href="mailto:shabrikovm@gmail.com">
                <b>Email</b>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://stackoverflow.com/users/5806646/mikhail-shabrikov">
                <b class="link" id="js-so-link">Stack Overflow</b>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://medium.com/@mshabrikov">
                <b class="link" id="js-medium-link">Medium</b>
            </a>
        </li>
        <li>
            <a target="_blank" href="https://github.com/levvsha">
                <b>GitHub</b>
            </a>
        </li>
    </ul>

    <svg></svg>
</div>
<div class="tooltip js-tooltip" style="display: none"></div>
</body>
</html>