.tooltip {
  background: #1496bb
  color: #fff
  pointer-events: none
  position: absolute
  top: 50%
  left: 50%
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28)
  font-family: 'Nanum Pen Script', cursive
  font-size: 24px
  padding: 4px 7px
  border-radius: 4px
  opacity: 0
  margin-top: -63px
  transform: translate(-50%)
  transition: all 0.5s

  &.show {
    opacity: 1
  }
}

.tooltip:after {
  border-left: solid transparent 10px
  border-right: solid transparent 10px
  border-top: solid #1496bb 10px
  bottom: -10px
  margin-left: -10px
  content: ""
  height: 0
  left: 50%
  position: absolute
  width: 0
}

.link {
  border-radius: 4px
  cursor: pointer
  padding: 1px
  transition: opacity 0.4s

  &:hover {
    opacity: .6
  }
}

.nodes text {
  text-shadow: 0 0 2px gray
  cursor: pointer
  text-anchor: middle
  fill: white
  font-family: 'Nanum Pen Script', cursive
}

body {
  background-image: linear-gradient(90deg,#6B6BAA 0,#292941)
  margin: 0
  padding: 0
  position: relative
  font-family: Arial, Helvetica, sans-serif
  font-size: 16px
  display: flex
  align-items: center
  justify-content: center
  height: 100vh
}

.main {
  box-shadow: 0 1px 8px 0 rgba(0,0,0,.2)
  box-sizing: border-box
  width: 1100px
  height: 544px
  background-color: white
  position: relative
}

.section {
  display: flex
}

.description {
  position: absolute
  left: 50px
  top: 25px
  width: 500px
  text-align: justify
  z-index: 5

  p {
    margin: 0
  }
}

.username {
  cursor: pointer

  &.active {
    font-weight: bold
  }
}

.message-tags {
  position: absolute
  right: 50px
  bottom: 14px
  font-size: 12px
  display: none
}

.message-no-scores {
  position: absolute
  right: 70px
  font-weight: bold
  top: 275px
  font-size: 20px
  display: none
  z-index: 99
}

svg {
  position: absolute
  left: 0
  top: 0
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none
}

.search-input {
  width: 100%
  height: 38px
  padding: 6px 10px
  background-color: #fff
  border: 1px solid #d1d1d1
  border-radius: 4px
  box-sizing: border-box

  &:focus {
    outline: none
    border-color: #33c3f0
  }
}
